<h3>{{ album.title }}</h3>

<div class="row">
  <div class="col-md-2" ng-repeat="photo in photos track by $index">

    <!-- Thumbnail -->
    <div class="thumbnail">
      <img ng-src="images/{{ photo.filePath }}" alt="{{ photo.title }}" class="img-rounded" />
      <div class="caption">
        <h4>{{ photo.title }}</h4>
        <p><strong>Created:</strong> {{ photo.createdDate | date: 'MMM d, yyyy' }}</p>
        <a class="btn btn-primary btn-xs" ui-sref="viewPhoto({ id: photo.id })">View</a>
        <a class="btn btn-warning btn-xs" ui-sref="editPhoto({ id: photo.id })">Edit</a>
        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" ng-attr-data-target="#deletePhotoModal{{$index}}">Delete</button>
      </div>
    </div>

    <!-- Delete photo modal -->
    <div class="modal fade" ng-attr-id="deletePhotoModal{{$index}}" tabindex="-1" role="dialog" ng-attr-aria-labelledby="deletePhotoLabel{{$index}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-attr-id="deletePhotoLabel{{$index}}">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete {{ photo.title }}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deletePhoto(photo)">Delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Add photo modal -->
  <div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="addPhotoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addPhotoLabel">New Photo</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newPhoto.title" class="form-control" id="title" placeholder="Photo title here" />
            </div>
          </div>
          <div class="form-group">
            <label for="filePath" class="col-sm-2 control-label">File name</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newPhoto.filePath" class="form-control" id="filePath" />
            </div>
          </div>
          <div class="form-group">
            <label for="albumId" class="col-sm-2 control-label">Album id</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newPhoto.albumId" class="form-control" id="albumId" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createPhoto()">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Button group -->
<div class="btn-group" role="group">
  <button type="button" class="btn btn-success nodecoration" data-toggle="modal" data-target="#addPhotoModal">
    <span class="glyphicon glyphicon-plus"></span> Add Photo
  </button>
  <a class="btn btn-warning" ui-sref="editAlbum({ id: album.id })">Edit</a>
</div>
